#addDinoBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.card {
    position: relative;
    right: auto;
}

#logo {
    vertical-align: middle;
    height: 90%;
    margin-right: 25px;
    margin-left: 10px;
}

